@font-face {
    font-family: 'iran_sans_bold';
    src: url('iran_sans_bold.ttf');
}

.root {
    -fx-font-family: "iran_sans_bold";
    -fx-text-fill: #000;
    -fx-base: rgb(171, 221, 248);
    -fx-background: rgb(225, 232, 248);
}